This is the owner index page


<h2>If you need to create an account, please click here: <%=link_to "Create Account", new_owner_path %></h2>
<h2>If you already have an ccount, click here to login: <%=link_to "Owner Login", new_ownersession_path %></h2>


