 <nav class="navbar navbar-default">
  <div class="container">
	  <div class="navbar-header">
	  	<a href="/"  class="navbar-brand">WOD Tracker</a>
	  </div>
	  <ul class="nav navbar-nav navbar-right">
	  	<li><a href="/owners/<%=@owner.id%>/edit">Edit Profile</a></li>
	  	<li><a href="/logout">Logout</a></li>
	  </ul>
	 </div>
 </nav>



<%if !@owner.gyms.blank? %>
  <h3>Here are your gyms: </h3>
	<%@owner.gyms.each do |gym| %>
		<%=link_to gym.name, gym_path(gym)%><br>
	<%end%>
<%end%>

<h2>To add a gym, please click below:</h2>
	<%=link_to "Add Gym", new_owner_gym_path(@owner) %>