User edit page

<%=form_for @user do |f| %>
	<label>Username</label>
	<%=f.text_field :username %><br>
	<label>Gym affiliation: </label>
	<%=f.collection_select(:gym_id, Gym.all, :id, :name) %><br>
	<%=f.submit "Update" %>
<%end%>