 <nav class="navbar navbar-default">
  <div class="container">
	  <div class="navbar-header">
	  	<a href="/"  class="navbar-brand">WOD Tracker</a>
	  </div>
	  <ul class="nav navbar-nav navbar-right">
	  	<li><a href="/users/<%=current_user.id%>/edit">Edit Profile</a></li>
	  	<li><a href="/logout">Logout</a></li>	  	
	  </ul>
	 </div>
 </nav>

<h2><%=@user.username%></h2>
<%if @user.gym.id == 1000000%>
	<h3>Please finish setting up your profile, You need to select a gym</h3>
	<h3>Proceed to <%=link_to "Edit Account", edit_user_path(@user)%></h3>
<%else%>
	<h2><%=link_to @user.gym.name, gym_path(@user.gym)%></h2>
<%end%>
