User show page

<h2><%=@user.username%></h2>
<%if @user.gym.id == 1000000%>
	<h3>Please finish setting up your profile, You need to select a gym</h3>
	<h3>Proceed to <%=link_to "Edit Account", edit_user_path(@user)%></h3>
<%else%>
	<h2><%=link_to @user.gym.name, gym_path(@user.gym)%></h2>
<%end%>
<h2><%=link_to "Logout", session_path(@user), method: "delete"%></h2>