/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#content {
	text-align: center;
	padding-top: 25%;
}

.home {
	background: url(https://images.unsplash.com/photo-1506197061617-7f5c0b093236?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=418764a3f148dde8a8debcea492f9156&auto=format&fit=crop&w=1905&q=80);
	color: white;
	background-size: cover;
	background-position: center;
}

.field_with_errors {
	border-style: solid;
    border-color: red;
    
}

#error_explanation {
	color: red;

}

hr {
	width: 350px;
}

html {
	height: 100%;
}

#button {
	color: blue;
	background-color: blue;
	display: inline;
}

.usershow {
	
}

.gympic img {
	display: flex;
	width: 400px;
	height: 300px;
	margin: auto;
	border-radius: 5%;
	border: solid;

}

.links {
	display: flex;
	justify-content: center;
}

.wod {
	text-align: center;
	
}

.woddesc h3 {
	text-align: center;
}

#wodhr {
	width: 300px;
}

.woddesc  {
	padding-top: 15px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	
}


#wob {
	display: flex;
	justify-content: center;
}
.usershowpage {
	background-color: #e2e2e2;
}

a {
	color: #727375;
}

.table {
	
	justify-content: center;
}

.trial {
	padding-right: 40%;
}