<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutTracker</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    

  <body>
<!--   	<nav class="navbar navbar-default">
  		<div class="container">
	  		<div class="navbar-header">
	  			<a href="/"  class="navbar-brand">WOD Tracker</a>
	  		</div>
	  		<ul class="nav navbar-nav navbar-right">
	  			<li><a href="/sessions/new">Login</a></li>
	  			<li><a href="/users/new">Signup</a></li>
	  			<li><a href="/owners">Gym Owners/Managers</a></li>
	  		</ul>
	  	</div>
  	</nav> -->
    <%= yield %>
  </body>
</html>
